body{
    background-color: rgb(118, 118, 161);
    margin: 0%;
}
header{
    text-align: center;
    font-size:xx-large;
    background-color: palegoldenrod;
    padding: 30px;
    font-family: cursive;
}
 input{
    padding: 10px;
    border-radius: 10px;
 }
label{
    font-size:x-large;
}
table{
    border-collapse: collapse;
    width: 25%;
    border-color: black;
    
}
#edit{
    background-color: rgb(10, 118, 219);
    border-radius: 10px;
}
#delete{
    background-color: rgb(211, 13, 13);
    border-radius: 10px;
}
